<div class='row'>
  <h3 class='large-8 column'>Edit <%= @recipe.title %></h3>
  <div class='large-4 column'>
    <div class="icon-bar one-up right">
      <a href="/recipebox" class="item">
        <i class="fi-home" ></i>
        <label>Home</label>
      </a>      
    </div>
  </div>
</div>
<div id='navigator'>
  <div id='accordion'>
    <h4 id="information">Recipe Information</h4>
    <div class="content">
      <ul>
        <li>Yield</li>
        <li>Categories</li>
        <li>Misc. Information</li>
      </ul>
    </div>
    <h4 id="ingredients">Ingredients</h4>
    <div class="content">
    </div>
    <h4 id="instructions">Instructions</h4>
    <div  class="content">
    </div>
    <h4 id="comments">Comments</h4>
    <div class="content">
    </div>
  </div>
</div>
<div id='recipeshow'>
  <div id='informationpanel' class='row panel tall'>
    <div class='row' data-equalizer>
      <div class ='large-2 column' data-equalizer-watcher>
        <p><label>Description:  </label>
        <%= @recipe.description %></p>
      </div>
      <div class='large-3 column' data-equalizer-watcher>
        <p><label>Yield:  </label><%= @recipe.yield %></p>
        <p><label>Actual Prep Time:  </label><%= @recipe.actual_time %></p>
        <p><label>Total Time:  </label><%= @recipe.total_time %></p>
        <p><label>Source:  </label><%= @recipe.source %></p>
      </div>
      <div class='large-3 column' data-equalizer-watcher>
        <%= form_for @recipe do |f| %>
          <label>Category:</label>
          <%= f.collection_check_boxes :category_ids, current_user.categories.all, :id, :category %>
          <%= f.label :category, "Or enter a new category" %>
          <%= f.text_field :category %>
          <%= f.label :favorite, "Favorite?" %>
          <div class='switch round tiny'>
            <%= f.check_box :favorite, {:id => "recipe_favorite"}, "yes", "no" %>
            <%= f.label :favorite, "Yes" %>
          </div>
          <%= f.submit :Update, :class => "tiny button right" %>
        <% end %>
      </div>
      <div class='large-4 column' data-equalizer-watcher>
        <%= image_tag @recipe.image.url(:medium), :id=>:recipeimage, :class=>:right %>
      </div>
    </div>
  </div>
  <div id='ingredientspanel' class='panel short row'>
    <div class='large-12 column'>
      <table>
        <% newLineSplit(@recipe.ingredients).each do |ingredient| %>
            <tr>
              <% spaceSplit(ingredient).each do |quantity| %>
                <td><%= quantity %></td>
              <% end %>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
  <div id='instructionspanel' class='panel short row'>
    <div class='large-12 column'>
      <% newLineSplit(@recipe.instructions).each do |instruction| %>
        <p><%= instruction %></p>
      <% end %>
    </div>
  </div>
  <div id='commentspanel' class='panel short row'>
    <div class='large-12 column'>
      <% if @comments %>
        <% @comments.each_with_index do |comment, index| %>
          <div class="panel radius 
          <% if index%2!=0 %> 
            <%= callout %>
          <% end %>
          ">
              <h6><%= comment.user.first_name %> commented:</h6>
              <p><%= comment.comment %></p>
            </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    $("#accordion").accordion({
      heightStyle: "content",
      header: "h4"
    });
    $('#accordion h4').click(function(e) {
      if($(this).hasClass('ui-accordion-header-active'))
        return false;
    });
    $("#accordion h4").click(function(){
      if ($(this).attr("id")=="information") {
        $("#recipeimage").animate({height: "175px"}, 300, "linear");
      } else {
        $("#recipeimage").animate({height: "75px"}, 300, "linear");
      }
      $("#recipeshow").children("div").addClass("short");
      $("#recipeshow").children("div").removeClass("tall", "easeOutCirc");
      $("#"+$(this).attr("id")+"panel").addClass("tall", "easeInCirc");
    })
    $("#like").click(function(){
      if ($(this).hasClass("disabled")){
      } else {
        $("#like_form").submit()
      }
    })
  });
</script>
</div>